#app {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    margin: 0 auto;
}
.lockedDice{
  filter: grayscale(50%);
  border: solid black 5px;
}
diceList{
  display: grid;
}

img{
  height:10%;
  width: 20%;
}
section div {
    background: red;
    font-weight: 700;
    border-radius: 4px;
}
.free{
  color:white;
}
section.varukorg div {
    background: lightblue;
    color: black;
    font-weight: 700;
    border-radius: 4px;
}

section div p {
    padding: 5px 1em;
}
